* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

/* I apply the above to create a uniform appearance to work with throughout. I may adjust this later. */

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.banner { 
    color: white;
    background-color: #1f2937;
}

.navbar {
    display: flex;
    margin: 36px 72px;
    gap: 72px;
}

h1 {
    font-size: 24px;
    margin-right: auto;
}

.navbar a {
    font-size: 18px;
}

.banner-content {
    margin: 72px;
}